name: Tell Hakai servers to update dataset
on:
  push:
    branches: production

jobs:
  tell-server-to-pull:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.CI_TOKEN }}
          repository: HakaiInstitute/hakai-dataset-repositories-harvester
          event-type: pull-all-datasets